/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  position: relative;
  border-top: 4px solid #FFFFFF;
  border-left: 4px solid #FFFFFF;
  border-right: 4px solid #FFFFFF;    
}

.mainTitleImage {
  height: 20px;  
}

.jumbotron {
  background-color: #9aec98 !important;
  padding:
 }

.largeTitleMen {
  height: 60px;
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mainTitleText { 
  color: #6C5353;
  font-family: 'Satisfy', cursive;
  font-size: 50px; 
  font-size: 3.47vw;   
}	

.subTitleText {
  color: #6C5353;
  font-weight: bold;
  font-size: 20px;  
}	

#navNorthEnd {background-color:#1e88e5;}

#navDowntown {background-color: #673ab7;}

#navBeaconHill {background-color: #ff9800;}

#navCopleySquare {background-color: #00bcd4;}

#navFenway {background-color: #009688;}

#navJamaicaPlain {background-color: #1e88e5;}

#navSection1 {background-color:#00bcd4;}

#navSection2 {background-color:#009688;}

}